<div class="col-mod-3">
  
  <h2>User info</h2>
  <table class="table">
    <tbody>
      <tr>
      <th>name</th>
      <th></th>
      </tr>
      <tr>
      <th>introduction</th>
      <th></th>
      </tr>
    </tbody>
  </table>
  <div class="row"></div>

<h2>New book</h2>
<%= form_with model: book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_field :body %>
    
    <br><%= f.submit 'Create Book' %></br>
  <% end %>
  </div>